
**/out/
**/target/
.idea_modules/
*.iml
*.log

/leveldb/
/zookeeper/
examples/zookeeper/
examples/leveldb/
/.idea/dictionaries/
/.idea/inspectionProfiles/
/.idea/libraries/
/.idea/.name
/.idea/compiler.xml
/.idea/misc.xml
/.idea/codeStyleSettings.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/kotlinc.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/checkstyle-idea.xml
/.idea/encodings.xml
/.idea/php.xml
/.idea/shelf/
/examples/wiki.xml
/benchmark/ansible/aws.yml
/wiki.xml
