/out/
.idea_modules/
*.iml
/.idea/
/new-core/leveldb/
/new-core/zookeeper/

commons/target/
core/target/
example/target/
experiments/inverted_index/target/
experiments/storm-test/target/
new-core/target/
sql/target/
wikiforia-parser/target/
/new-core/test.log
/core/test.log
