language: java

sudo: required

addons:
  apt:
    packages:
      - oracle-java8-installer
jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.m2

env:
  global:
    - MAVEN_OPTS="-Xmx256m"
    - JAVA_OPTS="-Xmx256m"

install: true

# The build process is so strange because we want to skip spbsu-commons tests :)
script:
  - mvn clean -DskipTests -fae --errors --batch-mode -q install
  - cd ./core
  - mvn -fae --errors --batch-mode -q test
  - cd ../runtime
  - mvn -fae --errors --batch-mode -q test
  - cd ../examples
  - mvn -fae --errors --batch-mode -q test
  - cd ../
