rate: 50
guarantees: AT_MOST_ONCE
millis_between_commits: 1000
validator: classifier.Lenta1100Validator
base_dir: /opt

flamestream_dir: "{{ base_dir }}/flamestream"
zookeeper_dir: "{{ base_dir }}/zookeeper"
bench_dir: "{{ base_dir }}/flamestream"
flink_dir: "{{ base_dir }}/flink"
tarball_dir: /opt/src

results_dir: results/{{ lookup("pipe", "git rev-parse --short HEAD") }}/{{ groups['workers'] | length }}/{{ rate }}/{{ guarantees }}/{{ millis_between_commits }}

zookeeper_version: 3.4.14
zookeeper_client_port: 2181

flamestream_worker_port: 5412
