cluster {
  local = false

  real-cluster {
    zk = "{{ hostvars[groups['zookeeper'][0]].inner_dn }}:{{ client_port }}"
    nodes = [
    {% for worker in groups['workers'] %}
      {id = {{ hostvars[worker].ds_id }}, host = "{{ hostvars[worker].inner_dn }}", port = {{ worker_port }}}
      {{ "," if not loop.last else "" }}
    {% endfor %}
    ],
    fronts = [{{ hostvars[groups['bench'][0]].ds_id }}]
  }
}

cluster-runner {
  runner = com.spbsu.flamestream.WordCountRunner
}
